body {
  margin: 0;
  padding: 0;

  p.body {
    font-family: "Merriweather", "sans-serif";
    font-size: 16px;
    line-height: 1.75;
    color: #404040;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Novecento sans wide", "sans-serif";
  }

  .site-widget { 
    display: flex;
  }

  .content-widget { 
    width: 130%;
    padding-top: 40px;
    padding-right: 40px;
  }

  .hero-image-header {
    height: 100vh;
    color: #fff;
    top: 6px;
    /* width: 100vw; */
    z-index: -1;
    /* margin-bottom: 29px; */
    position: relative;
    margin-top: -47px;
    /* border: none; */
   }
 


  .widget-wrapper { 
    padding-top: 51px;
    padding-left: 40px;
    width: 72%;
    border-left: 1px solid #e1e1e1;
  }

  .widget { 
    font-family: 'Merriweather';
    line-height: 1.75;
  }
  .max-width-container {
  max-width: 1120px;
  margin: auto;
  }
//FRONT PAGE STYLING
  .header_logo_menu {
    height: 40px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-top: 10px;
  }

  .logo {
    height: 30px;
    margin-left: 120px;
    // top: 9%;
    top: 1%;
    position: absolute;
  }

  .nav-search-wrapper { 
    height: 30px;
    /* margin-left: 65%; */
    /* position: absolute; */
    width: 38%;
    /* float: right; */
    display: flex;
    /* text-align: right; */
    justify-content: flex-end;
    margin-right: 13%;
  }
  // .main-navigation {
  //   // margin-left: 69%;
  //   // position: absolute;
  // }
  .main-navigation li {
    padding-right: 10px;
  }

  .main-navigation a {
    color: white;
  }

  // .searchForm {

  // position: relative;
  // right: 10%;
  // }
  // position: absolute;
  //   /* left: 30%; */
  //   right: 10%;
  .open-search {
    color: white;
    cursor: pointer;
    padding: 0.5rem;
  }

  input[type=searchForm] {
    border: 0;
    background: transparent;
    font-family: "Novecento Sans web", sans-serif;
    text-transform: uppercase;
    display: none;
  }

  .header_container {
    background: linear-gradient(rgba(0, 0, 0, 0.38), rgba(0, 0, 0, 0.38)),
      url("../../images/home-hero.jpg");
    background-size: cover, cover;
    background-repeat: no-repeat;
    height: 800px;
    margin-top: -40px;
    margin-bottom: 60px;
  }

  .hero_logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .main_logo {
    margin-top: 5%;
  }

  .shopStuff {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .shop_container h1 {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 200;
    text-align: center;
    font-size: 40px;
  }



  .shopStuff p {
    color: #404040;
  }


 .item {
    border: 1px solid #e1e1e1;
    border-top-width: 5px;
    text-align: center;
    font-family: 'Merriweather'; 
    padding-top: 20px;
    max-width: 22.2%;
    position: relative;
    height: 251px;
    margin-right: auto;
    margin-left: auto;
  }

  .item:hover {
    border: 1px solid #d99054;
  }

  .item img {
    width: 22%;
  }

  .button_shopStuff {
    background-color: #248a83;
    text-transform: uppercase;
    border: none;
    color: white;
    padding: 9px;
    font-size: 15px;
    cursor: pointer;
    position: absolute;
    left: 28%;
    bottom: 3%;
    width: 49%;
    height: 16%;
  }

  .item a {
    color: white;
    text-decoration: none;
    font-family: "Novecento sans wide";
  }





  .inhabitent-main-container h2 {
    font-size: 2.4rem;
    font-family: "Novecento sans wide";
    text-align: center;
    text-transform: uppercase;
    font-size: 40px;
    letter-spacing: 2px;
    font-weight: 400;
  }


  .inhabitent-journal-container {
    display: flex;
    text-align: left;
    letter-spacing: 2px;
    font-weight: 400;
    text-transform: uppercase;
  }

  .journalHomepage {
    border: 1px solid #e1e1e1;
    margin-left: 20px;
    margin-right: 20px;
    padding-bottom: 20px;
  }

  .journalHomepage img {
    height: 274px;
    border-bottom: 5px solid #e1e1e1;
  }

  // .posted-on
  .post-date {
    padding-left: 20px;
    font-size: 10px;
  }
  .comments {
    font-size: 10px;
  }

  .journal-title {
    font-size: 1.2rem;
    padding-left: 19px;
    line-height: 1.25;
    font-family: "Novecento sans wide bold";
  }

  .journal-title a {
    text-decoration: none;
    color: #248a83;
  }

  
  .journal-button {
    text-decoration: none;
    border: solid 1px black;
    padding: 7px;
    color: black;
    font-size: 14px;
    width: 27%;
    height: 37px;
    margin-left: 20px;
  }

  .journal-button:visited {
    color: #000;
  }
  .journal-button:hover {
    background-color: #248a83;
    color: #ffffff;
    border: none;
  }
  

.latest-adventures-section {
  text-align: center;
  text-transform: uppercase;
    font-family: "Novecento sans wide";
    height: 887px;
    letter-spacing: 2px;
  }
  .latest-adventures-section h2 {
    padding-top: 20px;
    padding-bottom: 45px;
    font-size: 40px;
    font-weight: 400;
  }
  .grid-container {
    height: 600px;
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    margin-left: 130px;
    grid-gap: 20px 20px;

    .grid-item-canoe {
      padding-left: 12px;
      text-align: left;
      font-size: 38px;
      font-weight: 400;
      color: white;
      grid-column: 1/3;
      grid-row: 1/3;
      background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)),
        url("../../images/canoe-girl.jpg");
      background-size: cover, cover;
      background-position: center, center;
      background-repeat: no-repeat, no-repeat;
      position: relative;

      .button_canoe {
        border: 1px solid #fff;
        background-color: transparent;
        text-transform: uppercase;
        position: absolute;
        left: 4%;
        top: 41%;
        height: 37px;
        color: #fff;
        width: 25%;
        box-shadow: none;
        border-color: #fff;

        &:hover {
          background-color: #248a83;
          border: none;
        }
      }
    }
    .grid-item-canoe h3 {
      font-weight: 400;
    }

    .grid-item-beach {
      font-size: 25px;

      text-align: left;
      padding-left: 8px;
      color: white;
      grid-column: 3 / 5;
      background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)),
        url("../../images/beach-bonfire.jpg");
      background-size: cover, cover;
      background-position: center, center;
      background-repeat: no-repeat, no-repeat;
      position: relative;
      .button_beach {
        border: 1px solid #ffffff;
        background-color: transparent;
        text-transform: uppercase;
        position: absolute;
        font-weight: 100;
        height: 45px;
        color: white;
        box-shadow: none;
        left: 6%;
        top: 69%;
        width: 25%;
        &:hover {
          background-color: #248a83;
          border: none;
        }
      }
    }
    .grid-item-beach h3 {
      font-weight: 400;
    }

    // .grid-item-mountain > .button_mountain {

    // }
    .grid-item-mountain {
      font-size: 19px;
      font-weight: 400;
      text-align: left;
      color: white;
      grid-column: 3/4;
      background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)),
        url("../../images/mountain-hikers.jpg");
      background-size: cover, cover;
      background-position: center, center;
      background-repeat: no-repeat, no-repeat;
      position: relative;

      .button_mountain {
        border: 1px solid #ffffff;
        background-color: transparent;
        text-transform: uppercase;
        position: absolute;
        font-weight: 100;
        height: 39px;
        color: white;
        box-shadow: none;
        top: 62%;
        left: 6%;
        width: 60%;
        &:hover {
          background-color: #248a83;
          border: none;
        }
      }
    }
    .grid-item-mountain h3 {
      position: relative;
      top: 17%;
      left: 5%;
      font-weight: 400;
    }
    .grid-item-sky {
      font-size: 19px;
      font-weight: lighter;
      text-align: left;
      color: white;
      grid-column: 4 / 5;
      background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)),
        url("../../images/night-sky.jpg");
      background-size: cover, cover;
      background-position: center, center;
      background-repeat: no-repeat, no-repeat;
      position: relative;
      .button_sky {
        border: 1px solid #ffffff;
        background-color: transparent;
        text-transform: uppercase;
        position: absolute;
        font-weight: 100;
        height: 38px;
        color: white;
        box-shadow: none;
        left: 7%;
        width: 52%;
        &:hover {
          background-color: #248a83;
          border: none;
        }
      }
    }
    .grid-item-sky h3 {
      position: relative;
      left: 8%;
      top: 6%;
      font-weight: 400;
    }
  }

  .button-container {
    position: relative;
    height: 79px;
    width: 40%;
    left: 8%;
    top: 7%;
    .button_latestadventures {
      background-color: #248a83;
      text-transform: uppercase;
      border: none;
      padding: 15px;
      font-size: 15px;
      cursor: pointer;
      left: 11%;
      bottom: 82%;
      position: absolute;
      text-decoration: none;
      height: 50px;
      font-size: 1.1rem;
      color: white;
    }
  }

  
//FOOTER STYLING

  .site-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-image: url("../../images/dark-wood@2x.png");
    background-size: cover;
    background-position: center;
    height: 350px;
    background-repeat: no-repeat;
  }

  .contact-info {
    margin-top: 2%;
    flex-basis: 25%;
  }

  .contact-info li {
    list-style: none;
    color: #ffffff;
    line-height: 1.75;
  }

  .contact-info h3 {
    color: #d99054;
    text-transform: uppercase;
  }

  .fa-phone {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
  }
  .social-info {
    display: inline-block;
    font-size: 24px;
    color: white;
    letter-spacing: 10px;
  }
  .business-hours h3 {
    color: #d99054;
    text-transform: uppercase;
  }

  .business-hours {
    color: #ffffff;
    margin-top: 2%;
    line-height: 1.75;
    flex-basis: 25%;
  }
  .business-hours p {
    color: #ffffff;
  }
  .footer-logo-wrapper {
    margin-top: 3%;
    flex-basis: 30%;
  }

  .footer-logo {
    width: 70%;
  }

  .copyright {
    font-family: "Novecento sans wide", sans-serif;
    color: white;
    flex-basis: 100%;
    text-align: center;
    text-transform: uppercase;
    font-weight: 100;
  }
  .copyright p {
    font-family: "Novecento sans wide", sans-serif;
    color: white;
  }
  .copyright-year {
    font-size: 0.8rem;
    font-weight: 100;
  }

// archive-product styling

.white-header {
  .header_logo_menu {
    border-bottom: none;
    .main-navigation a {
      color:#ffffff;
    }
    .open-search {
      color: #ffffff;
    }
  }
}


.green-header {
  .header_logo_menu {
    border-bottom: 1px solid #e1e1e1;
    .main-navigation a {
      color: #248a83;
    }
    .open-search {
      color: #248a83;
    }
  }
}



.page-header {
  margin-bottom: 40px;
  padding-bottom: 40px;
  p {
    text-align: center;
    line-height: 1.75;
    color: #404040;
  }
}


 
.page-title {
  text-transform: uppercase;
  letter-spacing: 2px;
  
  text-align: center;
  font-family: "Novecento sans wide bold",sans-serif;
  font-size: 40px;
}




.page-categories {
  display: flex;
  justify-content: center;
  font-size: 18px;
  padding-bottom: 40px;
}



.page-categories a {
  color: #2488a3;
}
.taxonomy-title {
  padding-right: 40px;
  text-transform: uppercase;
  text-decoration: none;
  padding-left: 44px;
  font-family: "Novecento sans wide";
}


.dash-border {
  width: 91%;
  height: 1px;
  margin: 0px auto;
  border-bottom: 1px dashed #c8c8c8;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  list-style: none;
  margin-left: -20px;
  margin-left: -20px;
  margin-bottom: 80px;
  padding-right: 50px;
  padding-left: 70px;
}

.product-container {
  border: 1px solid #e1e1e1;
}


.product img {
  height: 234px;
  object-fit: cover;
}

.photo {
  background-color: #e1e1e1;
}
.product-info {
  max-width: 40em;
  padding: 0;
  overflow-x: hidden;
  list-style: none;
}

.product-info:before {
  float: left;
  width: 0;
  white-space: nowrap;
  content: "...................................................";
}

.product-title {
  display: inline;
  padding-right: 0.33em;
}

.product-title,
.product-price {
  background: white;
}

.product-price {
  float: right;
  padding-left: 0.33em;
}


// single product-item view

  .blog-date {
    font-size: 16px;
  }

  .single-product-photo {
    display: flex;
    padding-top: 60px;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 200px;
  }
  .single-product-photo img {
    width: 59%;
    height: 330px;
    -o-object-fit: none;
  }

  .single-product-info {
    padding-left: 20px;
  }


  .product-post-title {
    color: #d99054;
    text-transform: uppercase;
    font-size: 38px;
    letter-spacing: 2px;
    font-weight: bold;
  }
  

  .single-product-price {
    font-size: 23px;
  }

  .social {
    word-spacing: 20px;
    padding-top: 20px;
  }
  .social-button {
    text-decoration: none;
    border: solid 1px black;
    padding: 7px;
    color: black;
    word-spacing: 4px;
    display: inline-block;
    width: 27%;
    height: 37px;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    width: 27%;
    height: 37px;
  }

  .social-button:visited {
    color: #000;
  }
  .social-button:hover {
    background-color: #248a83;
    color: #ffffff;
  }

  .blogpost {
    width: 17%;
  }
//blog homepage

.home-entry-title h2 {
background-color: #248a83;
color: #fff;
font-size: 33.6px;
left: 10.8%;
padding: 20px 2px;
position: absolute;
margin-top: 2.25rem;
max-width: 75%;
top: 46px;
text-decoration: none;
font-family: "Novecento sans wide bold";
}
  //style blog

  .blog-entry-header {
    padding-left: 120px;
  }
  .blog-title {
    position: absolute;
    background-color: #248a83;
    color: #ffff;
    /* max-width: 75%; */
    top: 0;
    margin-top: 113px;
    height: 90px;
    width: 40%;
    text-transform: uppercase;
    font-family: "Novecento sans wide bold";
  }

  .blog-date-comment {
    background-color: #248a83;
    color: #ffff;
    top: 90.8%;
    font-size: 16px;
    height: 24px;
    width: 30.4%;
    left: 29.7%;
    position: absolute;
  }

  .blog-date-comment a {
    text-decoration: none;
    color: #ffff;
  }

  .blog-date {
    font-size: 16px;
  }
  .blog-content {
    text-align: left;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left:120px;
  }


  .journal-home {
    margin-left: 0;
  }


  .blog-entry-footer { 
    padding-left: 120px;
  }

.cat-links {
    text-transform: uppercase;
  }
  .cat-links a {
    margin-right: 20px;
    text-decoration: none;
    color: #248a83;
  }

  .tags-links {
    text-transform: uppercase;
  }
  .tags-links a {
    text-decoration: none;
    color: #248a83;
  }
}



  .social ul {
    list-style: none;
    display: flex;
  }

  .comments-area { 
    padding-left:120px;
    input[type=submit] { 
      background-color: #248a83;
      text-transform: uppercase;
      border: none;
      padding: 8px;
      font-size: 14px;
      cursor: pointer;
      color: #fff;
      box-shadow: none;
      font-family: 'Novecento sans wide',sans-serif;
      text-decoration: none;
  }
  }

  textarea { 
    background-color: #e1e1e1;
  }

  input[type=text], input[type=email], input[type=url] { 
    background-color: #e1e1e1;
  }
  
  

  .border {
    height: 1px;
    border: 2px solid #c8c8c8;
  }
//about page 
  
  // .about-content > :not(header) {
  //   margin-left: auto;
  //   margin-right: auto;
  //   max-width: 800px;
  // }

  .about-content > h2 {
    // color: #2f1339;
    // font-size: 34px;
    // font-weight: bolder;
    color: #2f1339;
    font-size: 34px;
    /* font-weight: bolder; */
    // max-width: 1120px;
    // margin: auto;
    letter-spacing: 2px;
    
    font-family: "Novecento sans wide bold",sans-serif;
  
  }
  .about-content > p   {
    text-align: center;
    max-width: 1120px;
    margin: auto;
    line-height: 1.75;
  
}

  .findus-title {
  
  
    font-family: "Novecento sans wide bold",sans-serif;
    font-size: 39px;
    color: #404040;
    padding-left: 40px;
    letter-spacing: 2px;
  }

  .findus-content h2 {
    color: #2f1339;
    font-size: 34px;
    font-family: "Novecento sans wide bold",sans-serif;
    letter-spacing: 2px;
  }

  
.widget-title { 
    clear: both;
    font-family: "Novecento sans wide bold",sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.contact-widget { 
  color: #2488a3;
}


// archive page 
.archive-title {
clear: both;
    border-bottom: 1px solid #e1e1e1;
    font-family: "Novecento sans wide bold",sans-serif; 
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 3rem;
    padding-bottom: 1rem;
    letter-spacing:2px;
    font-size: 2.4rem;
}

.archivepage-header { 
  padding-left: 120px;
}

.widget-title  {
   a { 
list-style: none;
   }
}
//search

.search-title { 
  padding-left: 120px;
  font-family: 'Novecento sans wide bold',sans-serif;
  text-transform: uppercase;
  font-size: 39px;
}
.search-results-title { 
  padding-left:122px;
  
a { 
  text-decoration: none;
  font-family: "Novecento sans wide bold",sans-serif; 
  color: #248a83;
  font-size: 34px;
  text-transform: uppercase;
}
}
.search-summary { 
  padding-left:120px;
  line-height: 1.75;
}
.search-meta { 
  padding-left: 120px;
}
.page-numbers { 
  display: inline-block;
  background-color: #248a83;
    color: #fff;
    line-height: 1;
    padding: 8px 12px;
    margin-right: 4px;
    text-align: center;
    text-decoration: none;
}
.search-pagination {
  margin-left: 120px;
  border-top: solid 1px #e1e1e1;
  margin-bottom: 50px;

  padding-top: 20px;


}