@font-face {
    font-family: '.';
    src: url('7c8f0d05e0d9425ded589a157dae60cb.eot');
    src: url('7c8f0d05e0d9425ded589a157dae60cb.eot?#iefix') format('embedded-opentype'),
        url('7c8f0d05e0d9425ded589a157dae60cb.woff2') format('woff2'),
        url('7c8f0d05e0d9425ded589a157dae60cb.woff') format('woff'),
        url('7c8f0d05e0d9425ded589a157dae60cb.ttf') format('truetype'),
        url('7c8f0d05e0d9425ded589a157dae60cb.svg#.') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: '.';
    src: url('660c8d080fedf27bbbd5a8dcacb6828c.eot');
    src: url('660c8d080fedf27bbbd5a8dcacb6828c.eot?#iefix') format('embedded-opentype'),
        url('660c8d080fedf27bbbd5a8dcacb6828c.woff2') format('woff2'),
        url('660c8d080fedf27bbbd5a8dcacb6828c.woff') format('woff'),
        url('660c8d080fedf27bbbd5a8dcacb6828c.ttf') format('truetype'),
        url('660c8d080fedf27bbbd5a8dcacb6828c.svg#.') format('svg');
    font-weight: normal;
    font-style: normal;
}

